# ***********************

# *** basic arguments ***

# ***********************

# give core path here, i.e., arguments are assumed to be given relative to these 3 given core paths

# "-" means no core directory given, i.e., path are only determined by the input arguments

s dataDir ./../../data/gyanesh/

s tracksDir ./../../data/gyanesh//results

s resultDir ./../../data/gyanesh//results

# **************************************

# *** algorithmic specific arguments ***

# **************************************

# weighting paramter (reliability of tracks)

# higher values try to keep the given labels more and more

f lambda 200.0

# number of iterations (currently fixed number of iterations;

# convergence can be assumed if the soft segmentation is roughly "binary"

i maxiter 2000
